<h1 class="w3-display-topmiddle">About</h1>
<div class="w3-display-middle">
    <div class="w3-container w3-red w3-cell">
      <h3>Links:</h3>
      <p>https://lab2-jaked2018.c9users.io...  Base Url</p>
      <p>.../users  Main Users page</p>
      <p>.../microposts Microposts</p>
      <p>.../home Eventually the Home Page</p>
      <p>.../help How To</p>
      <p>.../about You are Here</p>
    </div>

    <div class="w3-container w3-green w3-cell">
      <h3>Resources:</h3>
      <p>railstutorial</p>
      <p>railsguides</p>
      <p>agile web development text</p>
      <p>w3schools</p>
    </div>
</div>