<h1 class="w3-display-topmiddle w3-green">Help</h1>
<div class="w3-display-container w3-display-middle" style="height:300px;">
    <div   >Use this app to: </div>
    <div   >  #Create and store Users and their emails</div>
    <div   >  #Store Microposts about each user</div>
</div>
