<div class="w3-container w3-blue w3-display-topmiddle">
  <p >Welcome to my App!</p>
</div>
<div class="w3-padding w3-display-middle w3-green">This will eventually be the Home Page</div>
<div class="w3-padding-32 w3-red w3-circle w3-right">
  <h1>Look at this cool circle</h1>
</div>
<div class="w3-bar w3-black w3-display-bottomleft">
  <a href="#" class="w3-bar-item w3-button">Navigation at Some point</a>
</div>
